
// Variables
$color-background: #E2E2E2;
$color-text: #333;
$color-button: #488CD9;


.fookie-wrapper {
  z-index: 9001;
  position: relative;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

  @media print {
    display: none;
  }
}

.fookie-container {
  overflow: hidden;
  padding: 10px;
  background: $color-background;
  border-top: 1px solid darken($color-background, 3%);
  color: $color-text;
  font-size: 16px;
  box-sizing: border-box;

  .fookie-btn {
    display: none;
  }

  .fookie-message {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    transition: font-size 200ms;
    font-size: 0.6em;
    display: block;
  }

  a, a:visited {
    text-decoration: none;
    color: $color-button;
    transition: 200ms color;
  }

  a:hover, a:active {
    color: darken($color-button, 10%);
  }

  @media screen and (min-width: 500px) {
    .fookie-btn {
      font-size: 0.8em;
    }
    .fookie-message {
      font-size: 0.8em;
      margin-top: 0.3em;
    }
  }

  @media screen and (min-width: 768px) {

    padding: 5px 30px 5px;

    .fookie-message {
      font-size: 1em;
      line-height: 1em;
    }
  }

  @media screen and (min-width: 992px) {
    .fookie-message {
      font-size: 1em;
    }
  }
}

// Reveal Animation
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(66px);
    transform: translateY(66px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(66px);
    -ms-transform: translateY(66px);
    transform: translateY(66px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fookie-container, .fookie-message, .fookie-btn {
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}

// POP OVER
#popup {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  &:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    z-index: 99999999999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
}
.popup-container {
  position: relative;
  border: 1px solid darken($color-background, 3%);
  margin: 7% auto;
  padding: 20px 30px;
  background-color: $color-background;
  color: $color-text;
  line-height: 20px;

  p {
    margin: 1rem 0 !important;
    line-height: 18px !important;
    font-size: 16px !important;

    &.small {
      line-height: 18px !important;
      font-size: 13px !important;
    }
  }

  border-radius: 0;
  @media (min-width: 768px) {
    width: 600px;
    border-radius: 3px;
  }
}
a.popup-close {
  position: absolute;
  border-radius: 3px;
  top: 3px;
  right: 3px;
  background-color: $color-button;
  padding: 5px 8px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color: $color-background;
}
